.radio_input_value.custom-control-label, .group_value.custom-control-label{
    display: flex;
    flex-direction: column;
}
.attr_value_img {
    width: 100px;
}
.group-value-item{
    padding-right: 10px;
}
.group-value-name{
    padding-top: 10px;
}
.group-names{
    margin: 0 !important;
    padding: 0 !important;
}